@charset "utf8";

/* 
Styles for the order page
*/

@import url(../base.css);

/* MENU & ORDER SECTION */

#orderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#orderForm {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 65%;
          flex: 1 1 65%;
  margin-bottom: 1rem;
  width: 66%;
}

#yourOrderContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}



/* ORDER FORM */

.orderTitle {
  font-family: RobotoBold;
  text-align: center;
  font-size: 2rem;
  font-variant: small-caps;
  line-height: 1.8rem;
  margin: 1rem 0;
}


.orderSubtitle {

}

.row {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-flow: row nowrap;
         flex-flow: row nowrap;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between ;
 margin-bottom: 1rem;
 background-color: var(--light-gray);
 border-radius: 3px;
}

.imgContainer {
 width: 20%;
}

.foodImg {
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  -webkit-box-shadow: var(--gray) 0 0 15px;
          box-shadow: var(--gray) 0 0 15px;
  width: 100%;
  height: 100px;
  background-size: cover;
}

.item-name {
  width: 58%;
  padding: 0 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.price {
  width: 12%;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 500;
}

.qty-container {
  width: 10%;
}

.qty-container select {
  padding: 0.5rem;
}

.placeOrderBtn {
  padding: 1.2rem 1.5rem;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid var(--dark-red);
  color: var(--dark-red);
  font-size: 0.95rem;
  border-radius: 4px;
  font-weight: 600;
}

.placeOrderBtn:hover {
  border: 2px solid var(--dark-red);
  color: var(--white);
  background-color: var(--dark-red);
  cursor: pointer;
}

/* ORDER PREVIEW */

#yourOrderContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
  margin-left: 1rem;
  padding: 1rem;
  /* right: 10%; */
  /* width: 25%; */
  border: 2px solid var(--light-gray);
  border-radius: 3px;
  -webkit-box-shadow: var(--light-gray) 0 0 15px;
          box-shadow: var(--light-gray) 0 0 15px;
}

#yourOrder {
  /* padding-left: 1.5rem; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  line-height: 1.5rem;
  font-size: 0.85rem;
}

.yourOrderIntro {
  text-align: center;
}

.yourHeading, .yourRow, .subtotalRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.yourHeading {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: var(--dark-gray);
  border-bottom: 1px solid var(--gray);
  padding-bottom: 0.5rem;
}

.yourHeading > .itemCol {
}

.itemCol {
  width: 80%;
}

.qtyCol {
  text-align: center;
  width: 20%;
}

.yourRow {
  font-size: 1rem;
  line-height: 1.35rem;
  text-align: start;
  margin: 0.5rem 0;
}

.yourRow > .itemCol {
  letter-spacing: -0.05rem;
}


.subtotalRow {
  text-transform: uppercase;
  font-weight: 800;
  border-top: 1px solid var(--gray);
  padding-top: 0.5rem;
}


/* .yourRow::first-line {
  font-weight: 600;
  font-style: normal;
} */