@charset "utf8";

/* 
Filename:   locations.css
*/

@import url(../base.css);

/*  */

#find-location-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../resources/restaurant.jpg') center center / cover no-repeat;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../resources/restaurant.jpg') center center / cover no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))),
    url('../resources/restaurant.jpg') center center / cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../resources/restaurant.jpg') center center / cover no-repeat;
  height: 100vh;
  color: var(--white);
  text-shadow: var(--black) 0 0 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
}

#locationSearchInput {
  background-color: var(--white);
  padding: 0.75rem;
  margin: 1rem auto;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
}

#locationSearchInput:focus {
  outline: none;
  border-color: var(--orange);
}

#locationSearchBtn {
  color: var(--black);
}

#or {
  margin: 1.5rem;
  -ms-flex-item-align: end;
  text-align: center;
}

#locationSearchBtn,
#findCurrentLocation {
  background-color: var(--white);
  color: var(--black);
  padding: 0.75rem 1.5rem;
  margin: 1rem auto;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Roboto, sans-serif;
}

/* SEARCH RESULTS */

.hidden {
  display: none;
}

.results-header {
  border: 1px solid #4845f0ab;
  background-color: #4845f018;
  width: 80%;
  margin: 3rem auto 2rem auto;
  padding: 1.65rem 2rem;
  border-radius: 5px;
  text-align: center;
}

.searchResults {
  line-height: 1.5rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.result-item {
  border: 1px solid var(--light-gray);
  margin: 1rem;
  padding: 1.65rem 2rem;
  border-radius: 5px;
  width: 40%;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.result-item:hover {
  -webkit-box-shadow: 0 0 15px var(--light-gray);
  box-shadow: 0 0 15px var(--light-gray);
  /* cursor: pointer; */
}

#yourLocation {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.results-header p:nth-child(2) {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.result-distance {
  color: var(--mid-gray);
  font-size: 0.9rem;
}

.result-link {
  -webkit-text-decoration: underline transparent;
  text-decoration: underline transparent;
  color: #4745f0;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.result-link:visited {
  color: #4745f0;
}

.result-link:hover {
  color: #4745f0;
  -webkit-text-decoration: underline #4745f0;
  text-decoration: underline #4745f0;
}

.result-link:target {
  color: #4745f0;
}
