@charset "utf8";

/* 
Styles for the Menu page
*/

@import url(../base.css);

/* TITLE SECTION */

#banner {
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../resources/meals2.jpg') center center / cover no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))),
    url('../resources/meals2.jpg') center center / cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../resources/meals2.jpg') center center / cover no-repeat;
  height: 25rem;
  position: relative;
}

.title {
  top: 5rem;
  position: relative;
  font-size: 3rem;
  padding-top: 3rem;
}

.subtitle {
  font-size: 2rem;
  padding-top: 1rem;
}

/* MENU TABLE */

#menuTable {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 1.5rem;
  margin-bottom: 2rem;
}

#menuTable tr > td:first-of-type {
  width: 150px;
  height: 110px;
}

#menuTable tr > td:nth-of-type(2) {
  width: 66%;
  padding-left: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
}

#menuTable img {
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 5px;
}

.itemDesc {
  font-weight: 400;
  font-size: 1rem;
  /* font-style: italic; */
  line-height: 1.5rem;
  padding-top: 0.6rem;
  color: var(--dark-gray);
}

.price {
  font-size: 1.2rem;
  font-weight: 600;
}
